.advantages {
  .container();
  color: @white;
  background-color: #242424;
}

.advantages__wrap {
  overflow: hidden;
}

.advantages__list {
  display: flex;
  width: 300%;
}

.advantages__item {
  position: relative;
  flex-basis: 320px;
  flex-grow: 1;
  padding: 0 20px;
  padding-top: 160px;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -47.5px;

    width: 95px;
    height: 94px;
    background-color: #fff;
  }
}

.advantages__name {
  font-size: 30px;
  font-weight: 700;
}

.advantages__discription {
  width: 240px;
  margin: 0 auto;
  margin-top: 15px;

  font-size: 20px;
}

@media @tablet-width {
  .advantages {
    background-color: #353535;
  }

  .advantages__wrap {
    overflow: visible;
  }

  .advantages__list {
    display: block;
    width: 100%;
  }

  .advantages__item {
    width: auto;
    padding: 35px 0;
    padding-left: 160px;
    padding-right: 5%;
    text-align: left;
    &::before {
      top: auto;
      left: 5%;
      margin-left: 0;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5%;
      display: block;
      width: 90%;
      height: 1px;
      background-color: #494949;
    }
  }

  .advantages__discription {
    width: 100%;
  }
}

@media @desktop-width {
  .advantages__list {
    display: flex;
    width: 100%;
  }

  .advantages__item {
    padding: 0 40px;
    padding-top: 160px;
    text-align: center;
    &::before {
      top: 30px;
      left: 50%;
      margin-left: -47.5px;
    }
    &:not(:last-child)::after {
      content: none;
    }
  }
}
